/* prettier-ignore */
:root {
  --space1: 1px;
  --space2: 0.125rem;
  --space4: 0.25rem;
  --space6: 0.375rem;
  --space8: 0.5rem;
  --space10: 0.625rem;
  --space12: 0.75rem;
  --space14: 0.875rem;
  --space16: 1rem;
  --space20: 1.25rem;
  --space24: 1.5rem;
  --space28: 1.75rem;
  --space32: 2rem;
  --space36: 2.25rem;
  --space40: 2.5rem;
  --space48: 3rem;
  --space56: 3.5rem;
  --space64: 4rem;
  --space80: 5rem;
  --space96: 6rem;
  --space112: 7rem;
  --space128: 8rem;
  --space144: 9rem;
  --space160: 10rem;
  --space176: 11rem;
  --space192: 12rem;
  --space224: 14rem;
  --space240: 15rem;
  --space256: 16rem;
  --space288: 18rem;
  --space320: 20rem;
  --space384: 24rem;
  --spaceBlock: var(--space64);
}
